name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Python
      uses: actions/setup-python@v2
    - name: build
      run: |
        git submodule update --init 
        bash -ex ./app/build.sh --rebuild
    - name: deploy
      run: |
        git remote add --mirror=fetch secondary https://${{ secrets.CODEBERG_AUTH }}@codeberg.org/eh2k/squares-and-circles.git
        git fetch origin
        git push secondary --all --force